.sliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: aliceblue;
    height: 300px;
  }
  
  .logoContainer {
    display: flex;
    gap: 2.8rem;
  }
  
  .logo {
    width: 150px;
    height: auto;
    object-fit: contain;

    padding: 0.5rem;
    border-radius: 8px;
    
  }
  
  .arrow {
    background: none;
    border: none;
    font-size: 2.9rem;
    cursor: pointer;
    color: #50cb42;
  }
  
  .arrow:disabled {
    opacity: 0.3;
    cursor: default;
  }
  