

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
   background-color: white;
 }

 .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  padding: 1rem;
  justify-items: center;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
