.card {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: flex-end;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .overlay {
    background: rgba(249, 239, 239, 0.8);
    color: #000000;
    padding: 1rem;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(3px);
    margin: 25px;
    margin-bottom: 35px;
  }
  
  .overlay h2 {
   
    font-size: 2rem;
    margin-top: 20px;
  }
  
  .overlay p {
   
    font-size: 1rem;
    max-width: 430px;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 1.8;
    margin-top: 30px;
    font-size: 24px;
  }
  
  .overlay button {
    margin-top: 0.5rem;
    background: #5e9a13;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease;
  }
  
  .overlay button:hover {
    background: #4d7c10;
  }
  