.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #eff4f8;
  color: #5e9a13;
  position: relative;
}

.logo img {
  height: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links li a {
  color: #5e9a13;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.cart-icon a {
  color: #5e9a13;
}

/* MOBILE */

  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      position: fixed; /* full screen */
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background-color: #eff4f8;
      padding: 4rem 2rem;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 999; /* ensure it sits on top */
      transition: transform 0.3s ease-in-out;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li a {
      font-size: 1.5rem;
    }
  
    .burger-menu {
      display: block;
      cursor: pointer;
      z-index: 1000; /* keep it above nav-links */
    }
  }
  


/* DESKTOP */
@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }

  .nav-links {
    display: flex !important;
  }
}
